@{
ViewBag.Title = "Home Page";
}
<a id="home"></a>
<header id="header">
    <img src="@Url.Content("~/assets/img/bg-hero.jpg")" srcset="~/assets/img/bg-hero@2x.jpg 2x" width="1920" height="950" alt="hero back" class="header-back">
    <div class="container">
        <div class="main-nav">
            <ul>
                <li><a href="#home">Home</a></li>
                <li><a href="#feature">Features</a></li>
                <!--<li>@Html.ActionLink("Dashboard", "Dashboard", "Home")</li>-->
                <li><a href="#contact">Contact Us</a></li>
            </ul>
        </div>
    </div>
</header>
<main id="main">
    <section class="section hero">
        <img src="/assets/img/bg-hero.jpg" srcset="/assets/img/bg-hero@2x.jpg 2x" width="1920" height="950" alt="hero back" class="hero-back">
        <div class="container">
            <img src="/assets/img/bg-logo.png" srcset="/assets/img/bg-logo@2x.png 2x" width="224" height="224" alt="Logo" class="logo">
            <h1>Delegation service <br>Tezos Canada</h1>
            <div class="code-form">
                <input type="text" class="js-copytextarea" readonly value="tz1aKxnrzx5PXZJe7unufEswVRCMU9yafmfb">
                <button class="btn js-textareacopybtn">Copy Address</button>
                <button onclick="window.location.href = 'https://tzkt.io/tz1aKxnrzx5PXZJe7unufEswVRCMU9yafmfb/operations';">View on TzKT</button>
            </div>
            <img src="/assets/img/bg-hero-back.png" srcset="/assets/img/bg-hero-back@2x.png 2x" width="592" height="591" class="container-back" alt="Container back">
        </div>
    </section>
    <a id="feature"></a>
    <section class="section section-white section-features">
        <div class="container">
            <h2 class="text-center">Our Features</h2>
            <div class="blocks-holder">
                <div class="block">
                    <div class="icon-holder">
                        <img src="/assets/img/ico-anonymous.png" srcset="/assets/img/ico-anonymous@2x.png 2x" width="87" height="89" alt="Anonymity">
                    </div>
                    <div class="text-holder">
                        <h3>Anonymity</h3>
                        <div class="description">
                            <p>No sign-up required. But future bakery enhancements (such as manual withdraw) will require a basic login.</p>
                        </div>
                    </div>
                </div>
                <div class="block">
                    <div class="icon-holder">
                        <img src="/assets/img/ico-offer.png" srcset="/assets/img/ico-offer@2x.png 2x" width="88" height="88" alt="9% Fee">
                    </div>
                    <div class="text-holder">
                        <h3>9% Fee</h3>
                        <div class="description">
                            <p>Dynamic payment model. Rewards are calculated using current inflation of the system.</p>
                        </div>
                    </div>
                </div>
                <div class="block">
                    <div class="icon-holder">
                        <img src="/assets/img/ico-delivery.png" srcset="/assets/img/ico-delivery@2x.png 2x" width="101" height="66" alt="Frequent Payments">
                    </div>
                    <div class="text-holder">
                        <h3>Frequent Payments</h3>
                        <div class="description">
                            <p>Payment batches are injected 20 minutes after cycle completion.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section section-gray section-faq">
        <div class="container">
            <h2 class="text-center">Frequently Asked Questions</h2>
            <div class="collapse-block close">
                <div class="block-header">
                    <div class="title">What is Tezos?</div>
                    <div class="collapse-button">
                        <img src="/assets/img/ico-arrow.png" srcset="/assets/img/ico-arrow@2x.png 2x" width="26" height="17" alt="arrow">
                    </div>
                </div>
                <div class="block-body">
                    <div class="description">
                        <p>Tezos is an open-source platform for assets and applications that can evolve by upgrading itself. Stakeholders govern upgrades to the core protocol, including upgrades to the amendment process itself.</p>
                        <p><a href="https://tezos.com/get-started">Get started with Tezos!</a></p>
                    </div>
                </div>
            </div>
            <div class="collapse-block close">
                <div class="block-header">
                    <div class="title">What is baking?</div>
                    <div class="collapse-button">
                        <img src="/assets/img/ico-arrow.png" srcset="/assets/img/ico-arrow@2x.png 2x" width="26" height="17" alt="arrow">
                    </div>
                </div>
                <div class="block-body">
                    <div class="description">
                        <p>Bitcoin has mining, Tezos has baking. In Bitcoin, miners compete to publish blocks containing a proof-of-work stamp by repeatedly hashing block headers. In Tezos, block creation is done by bakers. Rather than deriving the right to create a block by finding the solution to a proof-of-work problem, bakers obtain that right when a Tezos token they own or that is delegated to them is randomly selected to create a block.</p>
                        <p><a href="https://medium.com/tezos/its-a-baker-s-life-for-me-c214971201e1">It's a bakers life for me</a></p>
                    </div>
                </div>
            </div>
            <div class="collapse-block close">
                <div class="block-header">
                    <div class="title">Can I monitor your bakery performance in near real time?</div>
                    <div class="collapse-button">
                        <img src="/assets/img/ico-arrow.png" srcset="/assets/img/ico-arrow@2x.png 2x" width="26" height="17" alt="arrow">
                    </div>
                </div>
                <div class="block-body">
                    <div class="description">
                        <p>Want to know what is happening with the baker, all transactions, problems in work and other activities? Monitor our baking address!</p>
                        <p><a href="https://t.me/TezosNotifierBot?start=tz1aKxnrzx5PXZJe7unufEswVRCMU9yafmfb_Tezos_Canada" target="_blank"><img src="https://tzsnt.fr/Button_170x60_2.png"></a></p>
                    </div>
                </div>
            </div>
            <div class="collapse-block close">
                <div class="block-header">
                    <div class="title">When will I start receiving my rewards?</div>
                    <div class="collapse-button">
                        <img src="/assets/img/ico-arrow.png" srcset="/assets/img/ico-arrow@2x.png 2x" width="26" height="17" alt="arrow">
                    </div>
                </div>
                <div class="block-body">
                    <div class="description">
                        <p>Typically 36-37 days. Payments originate from <a href="https://tzkt.io/KT1WUXumx4Fq1W8PhFNxDTey1sHNqwF1Ux3V/operations">KT1WUXumx4Fq1W8PhFNxDTey1sHNqwF1Ux3V</a></p>
                        <p>Want to know when our payment account is receiving funding or distributing rewards? Monitor our payout address!</p>
                        <p><a href="https://t.me/TezosNotifierBot?start=KT1WUXumx4Fq1W8PhFNxDTey1sHNqwF1Ux3V_Tezos_Canada_Payments" target="_blank"><img src="https://tzsnt.fr/Button_170x60_2.png"></a></p>
                    </div>
                </div>
            </div>
            <div class="collapse-block close">
                <div class="block-header">
                    <div class="title">I have a technical question...</div>
                    <div class="collapse-button">
                        <img src="/assets/img/ico-arrow.png" srcset="/assets/img/ico-arrow@2x.png 2x" width="26" height="17" alt="arrow">
                    </div>
                </div>
                <div class="block-body">
                    <div class="description">
                        <p>Tezos Stack Exchange is a question and answer site for users, experts, and developers of the Tezos blockchain project.</p>
                        <p><a href="https://tezos.stackexchange.com/">Tezos Stack Exchange</a></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>